{{!-- Misc Combat Header --}}
<div>
  <table>
    <thead>
      <tr>
        <th class="attribute bab" data-attribute="bab" rowspan="2" colspan="2">
          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.BABAbbr"}}</span></a>
        </th>
        <th class="attribute cmb" data-attribute="cmb" colspan="2">
          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.CMBAbbr"}}</span></a>
        </th>
        <th class="attribute initiative" data-attribute="initiative" rowspan="2" colspan="2">
          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Initiative"}}</span></a>
        </th>
      </tr>

      <tr>
        <th>{{localize "PF1.Value"}}</th>
        <th>{{localize "PF1.Ability"}}</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="tooltip" colspan="2">
          <span class="tooltipcontent">
            @attributes.bab.total : {{data.attributes.bab.total}}
            {{#if sourceDetails.data.attributes.bab.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.bab.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
          </span>

          {{data.attributes.bab.total}}
        </td>

        <td class="tooltip">
          <span class="tooltipcontent">
            @attributes.cmb.total : {{data.attributes.cmb.total}}
            {{#if sourceDetails.data.attributes.cmb.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.cmb.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
          </span>

          {{data.attributes.cmb.total}}
        </td>
        <td>
          <select name="data.attributes.cmbAbility">
            {{#select data.attributes.cmbAbility}}
            <option value=""></option>
            {{#each config.abilities as |v k|}}
            <option value="{{k}}">{{v}}</option>
            {{/each}}
            {{/select}}
          </select>
        </td>

        <td class="tooltip" colspan="2">
          <span class="tooltipcontent">
            @attributes.init.total : {{data.attributes.init.total}}
            {{#if sourceDetails.data.attributes.init.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.init.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
          </span>

          {{data.attributes.init.total}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr>

{{!-- Attack Filters --}}
<div class="inventory-filters flexrow">
  <ul class="filter-list flexrow" data-filter="attacks">
    {{#each sections as |section sid|}}
      <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

{{!-- Attacks Header --}}
<div class="combat-attacks">
  <section class="attacks-body">
    {{#each sections as |section sid|}}
    {{#unless section._hidden}}
    <div class="inventory-group flexcol">
      <ol class="inventory-list">
        <li class="inventory-header flexrow">
          <h3 class="item-name flexrow">{{section.label}}</h3>

          {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon icon-magic-palm large" title="{{localize "PF1.Type"}}"></i></div>{{/if}}

          <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>

          <div class="item-detail item-uses"><i class="icon icon-battery-pack large" title="{{localize "PF1.ChargePlural"}}"></i></div>

          {{#if ../owner}}
          <div class="item-controls">
            {{#if section.canCreate}}
            <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
              <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
            </a>
            {{/if}}
          </div>
          {{/if}}
        </li>

        <ol class="item-list">
          {{#each section.items as |item iid|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow rollable">
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <h4>
                {{item.name~}}
              </h4>
            </div>

            {{#if section.showTypes}}
            <div class="item-detail item-type">
              <span>{{lookup ../../config.attackTypes item.data.attackType}}</span>
            </div>
            {{/if}}

            <div class="item-detail item-actions">
              <div class="item-attack tooltip">
                {{#if item.hasAction}}
                <span class="tooltipcontent">
                  {{localize "PF1.PerformAttack"}}
                </span>
                <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                {{/if}}
              </div>
            </div>

            <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
              {{#if item.isCharged}}
              <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.data.uses.value}}</span>
              <span class="sep"> / </span>
              <span class="text-box">{{item.data.uses.max}}</span>
              <span class="tooltipcontent">
                @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
                @resources.{{item.tag}}.max : {{item.data.uses.max}}
              </span>
              {{/if}}
            </div>

            {{#if ../../owner}}
            <div class="item-controls">
              <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
              <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
          </li>
          {{/each}}
        </ol>
      </ol>
    </div>
    {{/unless}}
    {{/each}}
  </section>
</div>

<hr>

{{!-- Defenses Header --}}
<div class="combat-defenses">
  <ul class="attributes flexrow">
    {{!-- Roll Defenses --}}
    <li class="generic-defenses flexrow">
      <div class="rollable image-d20"></div>
      <h3>{{localize "PF1.Defenses"}}</h3>
    </li>

    {{!-- Natural Armor --}}
    <li class="natural-armor flexrow">
      <h3>{{localize "PF1.BuffTarACNatural"}}</h3>
      <span class="text-box direct" name="data.attributes.naturalAC" data-dtype="Number">{{data.attributes.naturalAC}}</span>
    </li>

    <li class="flexrow">
      <h3>{{localize "PF1.SpellResistance"}}</h3>
      <input name="data.attributes.sr.formula" type="text" placeholder="{{localize "PF1.Formula"}}"
        value="{{#if data.attributes.sr.formula}}{{data.attributes.sr.formula}}{{/if}}"/>
    </li>
  </ul>

  {{> "systems/pf1/templates/actors/parts/actor-defenses_tables.hbs"}}

  <div class="attributes defense-notes flexcol scroll-primary" data-scroll-index="defense-notes">
    <div class="flexrow">
      <label><h3>{{localize "PF1.SaveNotes"}}</h3></label>
      <textarea name="data.attributes.saveNotes" placeholder="{{localize "PF1.SaveNotes"}}">{{data.attributes.saveNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <label><h3>{{localize "PF1.ACNotes"}}</h3></label>
      <textarea name="data.attributes.acNotes" placeholder="{{localize "PF1.ACNotes"}}">{{data.attributes.acNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <label><h3>{{localize "PF1.CMDNotes"}}</h3></label>
      <textarea name="data.attributes.cmdNotes" placeholder="{{localize "PF1.CMDNotes"}}">{{data.attributes.cmdNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <label><h3>{{localize "PF1.SpellResistanceNotes"}}</h3></label>
      <textarea name="data.attributes.srNotes" placeholder="{{localize "PF1.SpellResistanceNotes"}}">{{data.attributes.srNotes}}</textarea>
    </div>
    <hr>
  </div>
</div>
